[redis]
redis_host = localhost
redis_port = 6379
expire_interval = 60*60*24

[hbase]
hbase_host = 127.0.0.1
hbase_port = 9090
hbase_table = demo

[domain]
www.babytree.com = 0001
ask.yaolan.com=0002
www.mama.cn=0003
baobao.baidu.com=0004
www.23myw.com=0005
www.mamawenda.cn=0006
ask.ci123.com=0007
kuaiwen.pcbaby.com.cn=0008